// my_nextflow_pipeline/nextflow.config

// --- Parameters ---
params {
    // Input/Output
    input_bams     = "${baseDir}/bams/*.bam"
    output_dir     = "${baseDir}/results"

    // Pipeline control parameters
    start_from     = 'bedtools'      // Options: 'bedtools', 'aggregation', 'filter', 'python', 'prediction', 'featurecounts'
    stop_at        = 'featurecounts' // Options: 'bedtools', 'aggregation', 'filter', 'python', 'prediction', 'featurecounts'

    run_featurecounts = true         // Set false to skip featureCounts
    skip_bedtools     = false        // Set true to skip bedtools steps
    skip_prediction   = false        // Set true to skip prediction step
    skip_filter       = false        // Set true to skip filtering step

    // Input files for resuming from intermediate steps
    bedtools_results  = null         // Path if starting from aggregation
    aggregated_file   = null         // Path if starting from filter/python/prediction
    filtered_file     = null         // Path if starting from python
    prediction_output = null         // Path if starting from featurecounts
}

// --- Execution Profiles ---
profiles {
    standard {
        // Local execution, no containers
    }

    docker {
        docker.enabled   = true
        process.container = 'mitopozzi/rnasign:latest'
    }

    singularity {
        singularity.enabled   = true
        singularity.autoMounts = true
        process.container      = 'docker://mitopozzi/rnasign:latest'
    }

    test {
        params.input_bams = "${baseDir}/tests/MitoTEST1.bam"
        //params.input_bams = "/home/artho/Documents/TEST.bam"
        params.output_dir = "${baseDir}/tests/results"
    }
}
